<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

<div th:insert="~{fragments/header}"></div>

<div class="container">
    <div class="shadow p-3 mb-5 bg-white rounded jumbotron welcome">
        <h1>Ooops. Something went wrong! </h1>
        <hr class="my-4">
        <h4>Don't worry, we'll take you home.</h4>
        <a th:href="@{/index}">Go Home</a>
    </div>
</div>

</body>
</html>