<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>

        <!-- Scripts -->
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
<body>

<div class="container">
    <div class="col-12 text-center">
        <form method="post" action="/settings/finefactor" th:object="${fineFactorDTO}">
            <div class="row">
                <label for="fine_factor" class="col-form-label">Emission Factor</label>
                <input th:value="*{emissionFactor}" th:field="*{emissionFactor}" id="fine_factor" class="form-control"
                       type="text">
            </div>
            <div class="row">
                <label for="speed_factor" class="col-form-label">Speed Factor</label>
                <input th:value="*{speedFactor}" th:field="*{speedFactor}" id="speed_factor" class="form-control"
                       type="text">
            </div>
            <div class="row">
                <label for="emission_time_frame" class="col-form-label">Emission Time frame (hours)</label>
                <input th:value="*{emissionTimeFrameInHours}" th:field="*{emissionTimeFrameInHours}"
                       id="emission_time_frame" class="form-control" type="text">
            </div>
            <div class="row">
                <label for="speed_time_buffer" class="col-form-label">Speedting buffer time (minutes)</label>
                <input th:value="*{speedingBufferTimeInMinutes}" th:field="*{speedingBufferTimeInMinutes}"
                       id="speed_time_buffer" class="form-control" type="text">
            </div>
            <div class="row mt-1">
                <input class="btn btn-primary" type="submit" value="Update">
            </div>
        </form>
    </div>

</div>
</body>
</html>