<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:insert="~{fragments/header}"></div>

<div class="container">
    <div class="shadow p-3 mb-5 bg-white rounded jumbotron welcome">
        <h2>Welcome to the CameraNetwork</h2>
        <hr class="my-4">
        <p><a th:href="@{/settings}">Settings</a></p>
    </div>
</div>

</body>
</html>