<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/settings.css}"/>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Settings</title>
<body>

<div th:insert="~{fragments/header}"></div>

<div class="container">
    <div class="shadow p-3 mb-5 bg-white rounded jumbotron welcome">
        <div class="container">
            <h2>Settings</h2>
            <hr class="my-4">
            <form method="post" th:action="@{/settings}" th:object="${settingsDTO}">

                <div class="form-group">
                    <label for="emission_factor" class="col-form-label">Emission Factor</label>
                    <input th:value="*{emissionFactor}" th:field="*{emissionFactor}" id="emission_factor"
                           class="form-control"
                           type="text">
                </div>

                <div class="form-group">
                    <label for="speed_factor" class="col-form-label">Speed Factor</label>
                    <input th:value="*{speedFactor}" th:field="*{speedFactor}" id="speed_factor" class="form-control"
                           type="text">
                </div>

                <div class="form-group">
                    <label for="emission_time_frame" class="col-form-label">Emission Time frame (hours)</label>
                    <input th:value="*{emissionTimeFrameInHours}" th:field="*{emissionTimeFrameInHours}"
                           id="emission_time_frame" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="speed_time_buffer" class="col-form-label">Speedting buffer time (minutes)</label>
                    <input th:value="*{speedingBufferTimeInMinutes}" th:field="*{speedingBufferTimeInMinutes}"
                           id="speed_time_buffer" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="retry_max_attempts" class="col-form-label">Retry max attempts</label>
                    <input th:value="*{retryMaxAttempts}" th:field="*{retryMaxAttempts}"
                           id="retry_max_attempts" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="retry_backoff_time" class="col-form-label">Retry backoff time (ms)</label>
                    <input th:value="*{retryBackOffTimeInMs}" th:field="*{retryBackOffTimeInMs}"
                           id="retry_backoff_time" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit" value="update">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>