<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Settings</title>
<body>

<div class="container">
    <div class="col-12 text-center">
        <form method="post" action="/settings" th:object="${settingsDTO}">
            <div class="row">
                <label for="emission_factor" class="col-form-label">Emission Factor</label>
                <input th:value="*{emissionFactor}" th:field="*{emissionFactor}" id="emission_factor" class="form-control"
                       type="text">
            </div>
            <div class="row">
                <label for="speed_factor" class="col-form-label">Speed Factor</label>
                <input th:value="*{speedFactor}" th:field="*{speedFactor}" id="speed_factor" class="form-control"
                       type="text">
            </div>
            <div class="row">
                <label for="emission_time_frame" class="col-form-label">Emission Time frame (hours)</label>
                <input th:value="*{emissionTimeFrameInHours}" th:field="*{emissionTimeFrameInHours}"
                       id="emission_time_frame" class="form-control" type="text">
            </div>
            <div class="row">
                <label for="speed_time_buffer" class="col-form-label">Speedting buffer time (minutes)</label>
                <input th:value="*{speedingBufferTimeInMinutes}" th:field="*{speedingBufferTimeInMinutes}"
                       id="speed_time_buffer" class="form-control" type="text">
            </div>
            <div class="row mt-1">
                <input class="btn btn-primary" type="submit" value="Update">
            </div>
        </form>
    </div>

</div>
</body>
</html>